body{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
margin: 0px;
    
}
.h2{
    font-family: SAKURATA;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

.flex-aligned{
    display: flex;
    align-items: center;
    gap: 15px;

}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
    
}
.top{
    width: 56px;
    height: 56px;
}   

.link{
    color:aliceblue;
    font-weight: 500;
}

.link:hover{
    color: blueviolet;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

a{
    text-decoration: none;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px aliceblue;
}

.button-primary{
    background-color: black;
    color: aliceblue;
    font-weight: 500;
    padding: 8px 16px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 8px;
}
.button-primary:hover{
    background-color: blueviolet;
}

.products-list{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 22%;
    border-radius: 8px;
    background-color: white;
}

.card img{
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card .card-info{
    padding: 22px;
}

footer{
    text-align: center;
    
}

.product-brand{
    display: flex;
    align-items: center;
    font-family: SAKURATA;
}

.image{
    height: 200px;
    width: 200px;
}

p{
    color: black;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: azure;
    background-image: url(https://img.freepik.com/photos-premium/temple-japonais-montagne-arriere-plan_582637-2188.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    text-align: center;
}
.color{
    color: aliceblue;
}
.ordre{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: flex-start;
}
.resoudre{
  height: 200px;
  width: 400px;
}
.body{
  align-items: flex-start;
}
.btn, .btn-continue-purchase, .btn.btn-primary {
  border-radius: 20px;
}
.btn, .btn.btn-primary, .btn-continue-purchase {
  color: #fff;
  display: flex;
  vertical-align: middle;
  background-color: #0054a8;
  border-color: #0054a8;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition-duration: .3s;
  transition-property: color,background-color;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

